@font-face {
    font-family: "TildaSans";
    src: local("TildaSans"),
        url('https://static.tildacdn.com/fonts/tildasans/TildaSans-VF.woff2') format('woff2-variations'),
        url("SdelaiStanol.client/src/fonts/TildaSans-VF.woff")
}

/*debug*/
div {
    border: red 1px solid;

}

p {
    margin: 0;
    padding: 0;
}

img {
    border: solid 1px yellow;
}

/*debug*/

body {
    background-color: #0D161D;
    color: #FAFAFF;
    font-family: "TildaSans";
}

.padding_1200 {
    width: 1200px;
    margin: auto;
}

.abs-box {
    position: absolute;
}

/*VIDEO HEADER*/

.video-header .background-video{
    z-index: -1;
    position: absolute;
    min-width: 100%;
    height: 550px;
    margin: auto 0;
    object-fit: cover;
    overflow: hidden;
    filter: brightness(30%);
}

.video-header {
    height: 550px;
}

.video-header .header-text {
    height: 360px;
    position: relative;
}

.header-text .title {
    height: 287px;
    justify-content: center;
    display:flex;
    flex-direction: column;
    justify-content: center
}

.header-text .title h1{
    font-size: 52px;
}

.header-text .subtitle h3{
    font-size: 22px;
    font-weight: normal;
    color: rgba(250, 250, 255, 0.75);
}

.header-button{
    margin-top:60px;
    position: relative;
}

#gallery-button{
    text-decoration: none;
}

#gallery-button .div-button{
    width: 218px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #FAFAFF;
    background-color: #EC631C;
    border-radius: 10px;
}

/*END VIDEO HEADER*/


/*ABOUT BLOCK*/

.main-page_about {
    height: 880px;
}

.text_date-of-creation {
    margin: 0 817px 0 0;
    color: #394E61;
    font-size: 26px;
    text-align: left;
    vertical-align: middle;
    width: 383px;
    height: 30px;
}

.materials {
    overflow: hidden;
    height: 431px;
    width: 100%;
}

.image-blocks-materials {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

/*TITAN MATERIAL*/

.material-titan {
    z-index: 1;
    width: 310px;
    height: 431px;
    /*debug*/
}

.background-block,
#titan {
    position: absolute;
}

#titan {
    z-index: 3;
    width: 306px;
    height: 421px;
    margin: 0 4px 10px 0;
}

.material-titan .background-block-orange {
    z-index: 1;
    width: 262px;
    height: 171px;
    margin-left: 19px;
    margin-top: 46px;
    border-radius: 20px;
    background-color: #EC631C;
}

.material-titan .background-block-white {
    z-index: 2;
    width: 262px;
    height: 352px;
    margin: 67px 4px 2px 48px;
    border-radius: 20px;
    background-color: #FAFAFF;
}

.material-titan .background-block-darkblue {
    z-index: 3;
    width: 278px;
    height: 57px;
    border-radius: 5px;
    margin: 374px 15px 10px 13px;
    background-color: #394E61;
    align-items: center;
}

.background-block-darkblue,
.titan-text {
    text-align: center;
    line-height: 57px;
    font-size: 27px;
}

/*END TITAN MATERIAL*/

/*STEEL MATERIAL*/

.material-steel {
    width: 271px;
    height: 364px;
    /*debug*/
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.img-blocks-steel {
    display: flex;
    flex-direction: column;
    /* Размещаем картинки в столбик */
    justify-content: flex-end;
    position: relative;
    border-radius: 20px;
}

#steel-img-1,
#steel-img-2 {
    width: 262px;
    height: 175px;
    background-color: #FAFAFF;
    border-radius: 20px;
}

#steel-img-1,
#steel-img-2 {
    width: 262px;
    height: 175px;
}

#steel-img-2 {
    margin-top: 18px;
}

.top-block {
    position: absolute;
    z-index: 1;
}

.background-block-1 {
    width: 210px;
    height: 57px;
    margin: 25px 60px 282px 0;

}

.background-block-2 {
    width: 120px;
    height: 57px;
    margin: 89px 150px 220px 0;
}

.background-block-3 {
    width: 202px;
    height: 57px;
    margin: 152px 68px 155px 0;
}

.background-block-4 {
    width: 100px;
    height: 57px;
    margin: 215px 170px 90px 0;
}

.top-block {
    font-size: 27px;
    text-align: left;
    line-height: 57px;
}

.top-block a {
    margin-left: 14px;
}

.background-block-1,
.background-block-2,
.background-block-3 {
    background-color: #6B818C;
    border-radius: 5px;
}

.background-block-4 {
    background-color: #394E61;
    border-radius: 5px;
}

/*END STEEL MATERIAL*/

/*METAL MATERIAL*/

.material-metal {
    width: 583px;
    height: 379px;
    position: relative;
    display: flex;
}

.material-metal .background-block-white {
    z-index: 1;
    width: 262px;
    height: 171px;
    margin: 0 0 208px 321px;
    background-color: #FAFAFF;
    border-radius: 20px;
}

#metal {
    width: 532px;
    height: 365px;
    z-index: 2;
    border-radius: 20px;
    margin: 10px 51px 0 0;
}

.material-metal .front-block-darkblue {
    z-index: 2;
    width: 259px;
    height: 57px;
    margin: 39px 65px 283px 259px;
    background-color: #394E61;
    border-radius: 5px;
    text-align: center;
    line-height: 57px;
    font-size: 27px;
}

/*END METAL MATERIAL*/


.about-and-plastic {
    margin-top: 18px;
    display: flex;
    flex-direction: row;
    align-content: space-between;

}

/*ABOUT*/

.about {
    width: 597px;
    height: 395px;
    display: flex;
    justify-content: flex-end;
}

.about-block {
    width: 558px;
    height: 395px;
    background-color: #FAFAFF;
    color: #0D161D;
    border-radius: 20px;
}

.about-header {
    text-align: center;
}

.about-header-text {
    color: #EC631C;
    width: 100%;
    font-size: 48px;
}

.abz-container {
    font-size: 21px;
}

.about-description-text {
    width: 510px;
    height: 297px;
    margin-left: 20px;
    font-size: 21px;

}

#abz1 {
    margin-top: 10px;
}

#abz2 {
    margin-top: 40px;
}

#abz3 {
    margin-top: 50px;
}

.orange-lines {
    width: 45px;
    height: 237px;
    margin: 75px 549px 78px 0;

}

.line {
    width: 45px;
    height: 5px;
    background-color: #EC631C;
    border-radius: 3px;
}

.line-1 {
    z-index: 1;
    margin: 0;
}

.line-2 {
    margin-top: 115px;
}

.line-3 {
    margin-top: 215px;
}

/*END ABOUT*/


/*PLASTIC*/

.material-plastic {
    width: 580px;
    height: 390px;
    margin-left: 18px;
    float: right;
}


#plastic {
    z-index: 2;
    position: absolute;
    width: 535px;
    height: 391px;
    border-radius: 20px;
    background-color: gray;
}

.material-plastic .front-block-lightblue {
    z-index: 3;
    width: 284px;
    height: 57px;
    margin: 17px 278px 317px 18px;
    line-height: 57px;
    text-align: center;
    font-size: 27px;
    border-radius: 5px;
    background-color: #6B818C;
}

.material-plastic .background-block-darkblue {
    z-index: 1;
    width: 262px;
    height: 171px;
    background-color: #394E61;
    margin: 166px 0 55px 318px;
    border-radius: 20px;
}

/*END PLASTIC*/


/*END ABOUT BLOCK*/

.gallery-and-contact-preview {
    height: 1150px;
    width: 100;
    display: flex;
    margin: 20px 0 20px 0;
    position: relative;
}

.gallery-and-contact-preview .background-video {
    z-index: -1;
    position: absolute;
    min-width: 100%;
    height: 100%;
    margin: auto 0;
    object-fit: cover;
    overflow: hidden;
    filter: brightness(30%);
}


.gallery-and-contact-preview .padding_1200 {
    margin: 20px auto 20px auto;
    display: flex;
}

/*GALLERY PREVIEW*/

.gallery-preview {
    width: 670px;
    height: 100%;
}

.gallery-preview_header {
    height: 100px;
    line-height: 55px;
    text-align: center;
    margin-bottom: 20px;
}


/*END GALLERY PREVIEW*/

/*CONTACTS PREVIEW*/

.contacts-preview {
    width: 500px;
    height: 100%;
    margin: 0 0 0 auto;
}

.contacts-preview_header {
    height: 100px;
    line-height: 55px;
    text-align: center;
    margin-bottom: 20px;
}

.contacts-preview-cards {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.mail-phone {
    text-decoration: none;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 28px;
    background-color: #0D161D;
    border-radius: 10px;
}

.contacts_mail,
.contacts_tel {
    height: 50px;
    line-height: 50px;
}

#mail-link {
    text-decoration: none;
}

#mail-link:link,
#mail-link:visited {
    color: #FAFAFF;
}

#mail-link:hover {
    color: #EC631C;
}

.contacts_mail {
    text-align: center;
}


.link {
    text-decoration: none;
}

.link,
.link:link .link:visited {
    color: #FAFAFF;
}

.link:hover {
    color: #EC631C;
}

.contacts_tel {
    text-align: center;
}

.address {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    background-color: #0D161D;
    border-radius: 10px;
}

.address .card-header {}

.addresses {
    font-size: 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.legal-address {
    height: 140px;
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 21px;
    background-color: #0D161D;
    border-radius: 10px;
}

#address-3 {
    margin: 10px 20px 0 20px;
}

/*END CONTACTS PREVIEW*/


/*ADVANTAGES*/

.advantages {
    height: 670px;
}

.advantage-header{
    height: 180px;
}

.advantage-header .header-text{
    text-align: center;
    height: 100%;
    display:flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center
}

.advantage-header .header-text h1{
    font-size: 42px;
}

.advantages-cards{
    height: 100%;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

.advantage-card{
    width: 360px;
    height: 220px;
    margin: 0 0px;
    box-sizing: border-box;

}

.advantage-card .img{
    height: 80px;
    width: 80px;
    position: absolute;
}

.advantage-card .card-text{
    height: calc(100%-35px);
}

.advantage-card .card-header{
    height: 35px;
}

.advantage-card .card-desc{
    height: 100%;
}

/*END ADVANTAGES*/

/*TECHNICAL CAPABILITIES*/

.tech-capabilities{
    height: 770px;
}

.tech-capabilities .background-images{

}

.capabilities-header{
    height: 104px;
    font-size: 38px;
    text-align: center;
    display:flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center
}

.capabilities-item{
    height: 75px;
}
.capabilities-item .item-image{
    height: 100%;
    width: 75px;
}
/*END TECHNICAL CAPABILITIES*/

/*ORDER*/

.order{
    height: 850px;
}

.order .front-order-block{
    width: 610px;
    height: 730px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.front-order-block .header{
    height: 107px;
    font-size: 38px;
    text-align: center;
    display:flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
}

.front-order-block .desc{
    font-size: 22px;
    margin-left: 45px;
    margin-right: 70px;
}

.front-order-block .desc .fast-check{
    margin-top: 20px;
    font-size: 19px;
    color: #EC631C;
}

.front-order-block .desc .list{
    width: 525px;
    height: 380px;
    margin-top: 20px;
    background-color: #FAFAFF;
    border-radius: 10px;
}
/*END ORDER*/